name: "push images on release"

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x

on:
  push:
    tags:
      - v*

jobs:
  build-and-push-ib-sriov-cni:
    runs-on: ubuntu-24.04
    name: build and push multi-arch image (Release)
    steps:
      - name: check out the repo
        uses: actions/checkout@v6

      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: login to Docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          flavor: |
            latest=false
          tags: |
            type=ref,event=tag

      - name: build and push ib-sriov-cni (multi-arch)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: |
            ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}  
          file: ./Dockerfile
